body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .forgot-password-container {
    margin-top: 50px;
  }

  .btn-custom {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-custom:hover {
    background-color: black;
    color: white;
  }

  .form-label {
    font-weight: bold;
  }
